@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">
    <h1 class="col-sm-1">Welcome</h1>
    <div class="scribble-board">
        @for (var row = 0; row < 15; row++)
        {
            @for (var col = 0; col < 15; col++)
            {
                <div class="board-tile" id="tile-@(row)-@(col)" data-value="@(Model.Game.GetTileValue(row, col))">@Model.Game.GetTileValue(row, col)</div>
            }
        }
    </div>
</div>
